*{margin: 0px;
    padding:0px:;}
body{
    background-color: azure;
    color:forestgreen
}
h1{ color: green;
 align-content: center;}
a:link {
    color: dimgrey;}
a:visited {
    color: purple;}
a:hover {
  color: pink;
}
a:active {
  color: lawngreen;
}
a{text-decoration:none;}

div{background-color:antiquewhite; width:300px;
padding:20px 10px 10px 10px;
border-style:solid;}